<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="mageplaza_helloworld_display_text">
        <observer name="mp_display_text" instance="Mageplaza\HelloWorld\Observer\ChangeDisplayText" />
    </event>
    <event name="catalog_controller_product_view">
        <observer name="BarbanetProductData" instance="Mageplaza\HelloWorld\Observer\Product\Data" />
    </event>
</config>

